﻿@model TechTest.Models.ViewModels.CustomerCreateEditViewModel

@Html.ValidationSummary()
<div class="form-group">
    @Html.LabelFor(x => x.FirstName)
    @Html.TextBoxFor(x => x.FirstName, new { @Class = "form-control" })
</div>
<div class="checkbox">
    <label>
        @Html.CheckBoxFor(x => x.PreviouslyOrdered) Previously Ordered
    </label>
</div>
<div class="checkbox">
    <label>
        @Html.CheckBoxFor(x => x.IsWebCustomer) Is Web Customer
    </label>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.DateActive)
    @Html.TextBoxFor(x => x.DateActive, "{0:dd/MM/yyyy}", new { @Class = "form-control datepicker" })
</div>
<div class="form-group">
    <label>Favourite Colours</label>
    @for (var i = 0; i < Model.ColourList.Count(); i++)
    {
        <div class="checkbox">
            <label>
                @Html.HiddenFor(m => m.ColourList[i].Id)
                @Html.CheckBoxFor(m => m.ColourList[i].Checked) @Model.ColourList[i].Display
            </label>
        </div>
    }
</div>