﻿@using TechTest.Helpers;
@model TechTest.Models.ViewModels.CustomersViewModel
@{
    ViewBag.Title = null;
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th> 
                <th>Previously Ordered</th> 
                <th>Web Customer</th>
                <th>Date Active</th>
                <th>Is Palindrome</th>
                <th>Favourite Colours</th>
            </tr> 
        </thead>
        <tbody> 
            @foreach (var person in Model.People)            {
                <tr>
                    <td><a title="Update Customer" class="js-modal" data-modal="formModal" href="@Url.Action("update", "customers", new { person.Id})">@person.FullName()</a></td>
                    <td class="@(person.PreviouslyOrdered ? "highlight-true" : "highlight-false")">
                        @BooleanHelper.ToYesNoString(person.PreviouslyOrdered)
                    </td>
                    <td class="@(person.IsWebCustomer ? "highlight-true" : "highlight-false")">
                        @BooleanHelper.ToYesNoString(person.IsWebCustomer)
                    </td>
                    <td>@person.DateActive.ToString("dd/MM/yyyy")</td>

                    <td class="@(person.IsWebCustomer ? "highlight-true" : "highlight-false")">
                        @BooleanHelper.ToYesNoString(StringHelper.IsPalindrome(person.FullName()))
                    </td>
                    <td>@string.Join(",", person.GetColours().Select(x => x.Name))</td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Total > Model.PageBy)
    {
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li><a href="@Url.Action("index", new { page=i })">@i</a></li>
            }
        </ul>
    }
</div>