﻿@model TechTest.Models.ViewModels.CustomerCreateEditViewModel
@{
    Layout = null;
}

<form action="@Url.Action("insert", "customers")" method="post"class="js-ajax-form">

    @Html.Partial("_form", Model)

    <button type="submit" class="btn btn-default">Insert</button>
</form>