﻿@model TechTest.Models.ViewModels.CustomerCreateEditViewModel
@{
    Layout = null;
}
<form action="@Url.Action("update", "customers")" method="post" class="js-ajax-form">
    @Html.HiddenFor(x => x.Id)

    @Html.Partial("_form")

    <button type="submit" class="btn btn-default">Update</button>
</form>